/* Color Variables */
:root {
  --li-color: #162456;
  --text-color: #032e15;
  --p-color: #6f7577;
  --button-gradient: linear-gradient(180deg, #032e15 0%, #016630 100%);
  --gradient-one: linear-gradient(
    180deg,
    rgba(3, 46, 21, 0.6) 0%,
    rgba(1, 102, 48, 0.6) 100%
  );
  --label-color: #0d542b;
  --light-grey: #b8b8b8;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter;
  color: var(--text-color);
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.d-flex {
  display: flex;
}
.container {
  padding: 0 74px;
}
.container-xl {
  padding: 0 170px;
}
.pt-170 {
  padding-top: 170px !important;
}

.mb-40 {
  margin-bottom: 40px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-146 {
  margin-top: 146px;
}
.mt-100 {
  margin-top: 100px;
}
.mb-100 {
  margin-bottom: 100px;
}
.gap-100 {
  gap: 100px;
}
.gap-6px {
  gap: 6px;
}
.gap-15 {
  gap: 15px;
}
.pb-8 {
  padding-bottom: 8px !important;
}
.d-flex-center {
  display: flex;
  align-items: center;
}
/* :hover {
  box-shadow:
    0 0 8px rgba(1, 102, 48, 0.6),
    0 0 18px rgba(1, 102, 48, 0.5),
    0 0 35px rgba(1, 102, 48, 0.4);
  transform: translateY(-2px);
}
button:hover {
  animation: glowPulse 1.5s infinite alternate;
} */
 button {
  position: relative;
  transition:
    box-shadow 0.35s ease,
    transform 0.25s ease;
 }
button:hover {
  box-shadow:
    0 0 8px rgba(1, 102, 48, 0.6),
    0 0 18px rgba(1, 102, 48, 0.5),
    0 0 35px rgba(1, 102, 48, 0.4);
  transform: translateY(-2px);  
}
.reveal {
  opacity: 0;
  transform: translateY(60px);
  filter: brightness(1.4);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease,
    filter 0.8s ease;
}

/* When visible */
.reveal.is-visible {
  opacity: 1;
  transform: translateY(0);
  filter: brightness(1);
}

.radio-wrap {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-left: -20px;
}

.radio-wrap input {
  display: none;
}
.custom-radio {
  width: 17px;
  height: 17px;
  border: 1px solid #0c3605;
  border-radius: 50%;
  position: relative;
}

.custom-radio::after {
  content: "";
  width: 10px;
  height: 10px;
  background: linear-gradient(
    180deg,
    rgba(3, 46, 21, 0.6) 0%,
    rgba(1, 102, 48, 0.6) 100%
  );

  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease;
}

.radio-wrap input:checked + .custom-radio::after {
  transform: translate(-50%, -50%) scale(1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 56px;
  line-height: 112.00000000000001%;
  letter-spacing: -1.33px;
  color: var(--text-color);
}
li {
  color: var(--li-color);
}

p {
  color: var(--p-color);
}

button {
  background: var(--button-gradient);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 100px;
}

.header {
  padding: 12px 64px;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 111;
}
.header.scrolled {
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(24px) saturate(180%);
  -webkit-backdrop-filter: blur(24px) saturate(180%);
}
.nav {
  display: flex;
  gap: 32.36px;
}
a.logo {
  font-weight: 800;
  font-style: Extra Bold;
  font-size: 30px;
  line-height: 150%;
  text-decoration: none;
  background: linear-gradient(
    180deg,
    rgba(3, 46, 21, 0.6) 0%,
    rgba(1, 102, 48, 0.6) 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}
.nav a {
  font-weight: 400;
  font-size: 16.18px;
  line-height: 150%;
  color: var(--li-color);
  text-decoration: none;
}
.arrow-down {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-right: 2px solid #032e15;
  border-bottom: 2px solid #032e15;
  transform: rotate(45deg);
  margin-left: 9.82px;
  margin-bottom: 2px;
}
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #000;
  border-radius: 2px;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 12px;
}
.icon-btn img {
  width: 32px;
  height: 32px;
}
.cta-btn {
  padding: 16px 28px;
  font-weight: 500;
  font-size: 18.2px;
  line-height: 16.18px;
}
@media (max-width: 991px) {
  .header {
    flex-wrap: wrap;
  }

  .nav {
    order: 3;
  }

  .header-right {
    order: 4;
    width: 100%;
    justify-content: center;
    padding: 16px 0;
    display: none;
    background: #fff;
  }

  .nav.active + .header-right {
    display: flex;
  }

  .hamburger {
    order: 2;
  }
  .hamburger {
    display: flex;
  }

  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    display: none;
  }

  .nav.active {
    display: flex;
  }
}

/* HERO SECTION CSS STARTS FROM HERE */

.hero {
  width: 100%;
  /* height: calc(100vh - 74px); */
  height: 100vh;
  background-image: url("../images/main-banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
}
.hero button.cta-btn {
  padding: 12px 48.16px;
}
.awarded_wrap {
  padding: 8px 16px;
  background: var(--gradient-one);
  border-radius: 100px;
  gap: 8px;
  justify-content: unset;
  width: fit-content;
  margin-bottom: 27px;
}
.awarded_wrap span {
  font-weight: 300;
  font-size: 16px;
  color: #fff;
}
.stats {
  display: flex;
  gap: 70px;
}
.stats .stat {
  display: grid;
  gap: 18px;
}
.stats .stat .number {
  background: linear-gradient(
    180deg,
    rgba(3, 46, 21, 0.6) 0%,
    rgba(1, 102, 48, 0.6) 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 700;
  font-style: Bold;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
}
.stats .stat .label {
  font-weight: 300;
  font-size: 22px;
  line-height: 104%;
  letter-spacing: 0px;
  vertical-align: middle;
  color: var(--label-color);
}

/* SLIDER CSS STARTS FROM HERE */

.custom_row .slider_main_wrap,
.slider_right_content {
  width: 50%;
}
.slider_main_wrap {
  width: 610px;
}
.slider_main_wrap .images_group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 12px;
  flex-wrap: wrap;
  gap: 26px;
}
.images_group .image_wrap {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 16px;
  overflow: hidden;
}
.slider_main_wrap .images_group img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 16px;
}
.slider {
  width: 100%;
  height: 672px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
.slider .next,
.prev {
  position: absolute;
  z-index: 11;
}

.prev {
  bottom: 18.32px;
  left: 28.91px;
}
.next {
  bottom: 18.32px;
  right: 28.91px;
  transform: rotate(180deg);
}
.slider .dots {
  display: flex;
  justify-content: center;
  gap: 8.09px;
  position: absolute;
  bottom: 33.72px;
  left: 50%;
  transform: translateX(-50%);
}
.dots .dot {
  width: 8.09px;
  height: 8.09px;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
}

.dot.active {
  background: #000;
}

.slider_right_content h6 {
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 36px;
  line-height: 100%;
  color: var(--text-color);
  padding-bottom: 8px;
}
.reviews_wrap span {
  font-weight: 300;
  font-size: 13px;
  line-height: 100%;
  color: var(--text-color);
}

.slider_right_content p {
  font-weight: 300;
  font-size: 16.18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--text-color);
  padding-bottom: 31px;
}
.single_subs_wrap {
  border-bottom: 1.01px solid #919798;
  padding-bottom: 12.43px;
}
.single_subs_wrap label {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.9px;
  color: var(--text-color);
}
.single_subs_wrap h4 {
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.9px;
  color: var(--text-color);
}
.single_subs_wrap h4 span {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.9px;
  color: var(--light-grey);
}
.most_popular_box {
  border: 1.01px solid #b8b8b8;
  border-radius: 6.7px;
  overflow: hidden;
}
.most_popular_box .box_header {
  padding: 11.12px 0 7.36px;
  background: linear-gradient(270deg, #032e15 0%, #008236 51.92%, #00c950 100%);
  border-bottom: 1.01px solid #b8b8b8;
}
.most_popular_box .box_header h5 {
  font-weight: 700;
  font-style: Bold;
  font-size: 20.23px;
  line-height: 24.27px;
  color: #fff;
  text-align: center;
}
.box_body {
  padding: 20px 50px;
}
.choose_fragrance_wrap img {
  width: 100%;
}
.whats_included img {
  height: 200px;
}
.benefits-list {
  padding-left: 20px;
  margin-bottom: 0;
}
.benefits-list li {
  position: relative;
  list-style-type: none;
  padding-bottom: 8px;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.9px;
}
.benefits-list li:last-child {
  padding-bottom: 0;
}
.benefits-list li::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 0;

  width: 18px;
  height: 18px;

  background-image: url("../images/SealCheck.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.double_subs {
  border: 1px solid #b8b8b8;
  border-radius: 6.07px;
  margin-top: 11px;
  padding: 13px 16px;
}
.double_subs .radio-wrap {
  margin-left: 0;
}
.double_subs h4 span {
  text-decoration: line-through;
}
button.add_to_cart_btn {
  padding: 12.14px 0;
  width: 100%;
  margin-top: 24px;
}
.accodian-head h6 {
  color: var(--text-color);
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  padding-bottom: 33px;
}
.accordion-item {
  border: 1px solid #cdcdcd;
  border-radius: 8px;
  margin-bottom: 15px;
  position: relative;
}
.accordion-item:last-child {
  margin-bottom: 0;
}

.accordion-header {
  width: 100%;
  background: none;
  border: none;
  padding: 24px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  cursor: pointer;
  color: var(--text-color);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.accordion-content p {
  margin: 24px;
  font-weight: 300;
  font-size: 16px;
  line-height: 20.23px;
  color: #666666;
}

span.icon {
  font-size: 20px;
  line-height: 1;
  transition: transform 0.2s ease;
  font-weight: 300;
  position: absolute;
    right: 20px;
}

.content-left {
  width: 50%;
}

.banner-right {
  width: 50%;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  background: linear-gradient(180deg, #032e15 0%, #016630 100%);
  padding: 57px 170px;
}
.accuracy_inner_container h6 {
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  padding-bottom: 19.21px;
}
.accuracy_inner_container p {
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  color: #fff;
}

.why_gtg_wrap h6 {
  font-family: Oxanium;
  font-weight: 300;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  color: var(--text-color);
}
.why_gtg_wrap h5 {
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  color: var(--text-color);
  padding-bottom: 57px;
}
.table-wrapper {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.comparison-table {
  min-width: 768px;
  border-collapse: collapse;
  margin: 0 auto 80px;
}

.comparison-table th,
.comparison-table td {
  padding: 16px;
  border-bottom: 1px solid #666666;
  font-size: 15px;
  text-align: center;
  color: #666666;
}

.comparison-table th {
  font-weight: 600;
  color: #333;
}

.comparison-table th img {
  display: block;
  margin: 0 auto 8px;
  border-radius: 10px;
}

.comparison-table th span {
  display: block;
  font-weight: 300;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 19.16px;
  text-align: center;
  color: #666;
}

.comparison-table td:first-child,
.comparison-table th:first-child {
  text-align: left;
  width: 22%;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.16px;
  color: #666666;
}

.highlight {
  background: #f0fdf4;
  /* border-radius: 15px; */
}

.highlight :first-child img {
  width: 80px;
  height: 80px;
}
.highlight > :last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.comparison-table th img {
  width: 100px;
  height: 80px;
}
.table-footer {
  text-align: center;
}

/* FOOTER CSS STARTS FROM HERE */

.footer {
  background: #0b3a22;
  color: #d6e6dc;
  padding: 75px 85px 93px;
  font-family: system-ui, sans-serif;
}

.footer-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer-brand h2 {
  color: #fff;
  font-weight: 700;
  font-size: 42.32px;
  line-height: 100%;
  padding-bottom: 35px;
}

.footer-links {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  width: 40%;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li,
a {
  padding: 8.09px 0;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-family: Oxanium;
  font-weight: 300;
  font-size: 14.16px;
  line-height: 150%;
}

.footer-links a:hover {
  color: #fff;
}

.footer-social {
  display: flex;
  flex-direction: column;
}

.footer-social a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 12.14px;
}
.footer-social a img {
  width: 24.27px;
  height: 24.27px;
}
.footer-newsletter {
  width: 40%;
}
.footer-newsletter p {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 16.18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #fef3e4;
  padding-bottom: 24.54px;
}

.newsletter-form {
  display: flex;
  margin-bottom: 10px;
  gap: 16.18px;
  margin-bottom: 16.18px;
}

.newsletter-form input {
  flex: 1;
  padding: 12px;
  border: 1px solid #fff;
  background: transparent;
  outline: none;
  color: #fff;
}

.newsletter-form input::placeholder {
  font-weight: 300;
  font-size: 16.18px;
  line-height: 150%;
  color: #ffffff;
}

.newsletter-form button {
  padding: 12.24px 24.27px;
  background: #653b09;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: unset;
  font-weight: 700;
  font-size: 16.18px;
  line-height: 150%;
}

.footer-newsletter span {
  font-family: Oxanium;
  font-weight: 300;
  font-style: Light;
  font-size: 12.14px;
  line-height: 150%;
  color: #fff;
}
.footer-newsletter span a {
  text-decoration: underline;
}

/* MEDIA QUERIES STARTS FROM HERE */
@media (max-width: 1199px) {
  .grid_container {
    padding: 57px 70px;
  }
  .container-xl {
    padding: 0 70px;
  }
}
@media (max-width: 991px) {
  .container-xl {
    padding: 0 30px;
  }
  .header,
  .header-right,
  .nav {
    background: #fff;
  }
  .header.scrolled {
    background: #fff;
  }

  .gap-100 {
    gap: 50px;
  }
  .container {
    padding: 0 40px;
  }
  .mt-146,
  .mt-100 {
    margin-top: 60px;
  }
  .box_body {
    padding: 20px 25px;
  }
  .footer-container {
    flex-direction: column;
    gap: 50px;
  }
  .footer-links,
  .footer-newsletter {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .custom_row {
    flex-direction: column;
  }
  .custom_row .slider_main_wrap,
  .slider_right_content {
    width: 100%;
  }
  .slider {
    height: 400px;
  }
  .banner-right {
    width: 30%;
  }
  .content-left {
    width: 70%;
  }
  .accuracy_inner_container p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0 20px;
  }
  h1 {
    font-size: 36px;
  }
  .mt-146,
  .mt-100 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .stats .stat .number {
    font-size: 45px;
  }
  .stats {
    gap: 30px;
  }
  .accordion-header {
    padding: 10px;
  }
  .accordion-content p {
    margin: 12px;
  }
  .container-xl {
    padding: 0 20px;
  }
  .footer {
    padding: 30px 20px;
  }
  .footer-container {
    grid-template-columns: 1fr;
  }
  .grid_container {
    padding: 30px 20px;
  }
  .content-left {
    width: 100%;
  }
  .banner-right {
    display: none;
  }
  .grid_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .slider {
    height: 200px;
  }
  .slider_main_wrap .images_group {
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    gap: 12px;
  }
}

@media (max-width: 491px) {
  h1 {
    font-size: 24px;
  }
  .stats {
    gap: 15px;
  }
  .stats .stat .number {
    font-size: 40px;
  }
  .stats .stat .label {
    font-size: 16px;
  }
  .awarded_wrap {
    padding: 8px;
  }
}
@media (max-width: 391px) {
  .grid_container {
    grid-template-columns: repeat(1, 1fr);
  }
  .awarded_wrap span {
    font-size: 12px;
  }
  .newsletter-form {
    flex-direction: column;
  }
  .footer-links {
    gap: 12px;
  }
  .stats .stat .label {
    font-size: 13px;
  }
  .stats .stat .number {
    font-size: 30px;
  }
}
